* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
    width: 100vw;
}


.tipoDeFuente {
    font-family: "Roboto", sans-serif;
    word-break: break-word;
}

.tituloF {
    font-size: clamp(2rem, 15vw, 11rem);
    line-height: 1.1;
    font-weight: 700;
    /* Bold */
}

.tituloS {
    font-size: clamp(1rem, 4vw, 3rem);
    font-weight: 500;
}

.tituloP {
    font-size: clamp(0.9rem, 1.5vw, 1.25rem);
    font-weight: 400;
    line-height: 1.6;
}


.custom-nav {
    height: 60px;
}

.custom-nav-item {
    height: 100%;
}

.preloader {
    position: fixed;

    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    background-color: black;
    color: white;
    z-index: 9999;
    /* más alto que cualquier navbar */
    animation: cortina 2s ease forwards;
    /* indica que la animacion se hara acorde al keyframes cortina*/
    animation-delay: 1s;

}

@keyframes cortina {
    to {
        transform: translateY(-100%);
    }
}

#tit_preloader {
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-size: 6rem;

}

.animate-on-scroll {
    opacity: 0;
    transform: translateY(50px);
}

.animate-on-scroll.animate__animated {
    opacity: 1;
    transform: translateY(0);
}


.blur-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    pointer-events: none;
    border-radius: 10px;
}

.bb {
    background-color: red;
}

.home {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    padding: 10px;
}


.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    z-index: -1;
}

.contenido-home {
    position: relative;
    border-radius: 20px;
    z-index: 1;
    color: white;

    /* degradado + textura grumosa encima del video */
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)),
        url('https://www.transparenttextures.com/patterns/asfalt-dark.png');
    background-size: cover;
    background-position: center;
}

#marcas .carousel-item img {
    height: 60vh;
    width: 100vw;
    object-fit: contain;
    margin: 0 auto;
}


.altoContainerWork {
    height: 30vh;
}

.uno {
    border: solid 2px #000;
}

.card-img-bottom {
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card {
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.card-header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


.saltImg {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.5s ease;
    cursor: pointer;
}

.saltImg:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}
