* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
}


.tipoDeFuente {
    font-family: "Roboto", sans-serif;
    word-break: break-word;
}



.tituloSF {
    font-size: clamp(2rem, 15vw, 16rem);
    line-height: 1.1;
    font-weight: 700;
    /* Bold */
}

.tituloF {
    font-size: clamp(2rem, 10vw, 14rem);
    line-height: 1.1;
    font-weight: 700;
    /* Bold */
}

.tituloSS {
    font-size: clamp(1rem, 6vw, 8rem);
    font-weight: 550;
}

.tituloS {
    font-size: clamp(1rem, 4vw, 6rem);
    font-weight: 500;
}

.tituloSP {
    font-size: clamp(0.9rem, 2vw, 2.5rem);
    font-weight: 400;
    line-height: 1.6;
}

.tituloP {
    font-size: clamp(0.9rem, 1.7vw, 1.5rem);
    font-weight: 400;
    line-height: 1.6;
}

* {
    opacity: 0;
    animation: fadeInUp 0.7s ease forwards;
}

/* Escalonar los delays automáticamente */
*:nth-child(1) {
    animation-delay: 0.s;
}

*:nth-child(2) {
    animation-delay: 0.2s;
}

*:nth-child(3) {
    animation-delay: 0.3s;
}

*:nth-child(4) {
    animation-delay: 0.4s;
}

*:nth-child(5) {
    animation-delay: 0.5s;
}

*:nth-child(6) {
    animation-delay: 0.6s;
}

*:nth-child(7) {
    animation-delay: 0.7s;
}

*:nth-child(8) {
    animation-delay: 0.8s;
}

*:nth-child(9) {
    animation-delay: 0.9s;
}

*:nth-child(10) {
    animation-delay: 1.0s;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.services-section {

    min-height: 120vh;
    padding: 3rem;
    color: white;
    background-color: #0a0a0a;

    background-image:
        radial-gradient(circle at top left, rgba(255, 255, 255, 0.08), transparent 60%),
        radial-gradient(circle at top right, rgba(255, 255, 255, 0.08), transparent 60%),
        radial-gradient(circle at bottom left, rgba(255, 255, 255, 0.08), transparent 60%),
        radial-gradient(circle at bottom right, rgba(255, 255, 255, 0.08), transparent 60%),
        url("https://www.transparenttextures.com/patterns/asfalt-dark.png");

    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 20px;
}

.testimonial-card {
    transition: transform 0.3s ease, box-shadow 0.4s ease;
    border: none;
    border-radius: 20px;
}

.testimonial-card:hover {
    transform: translateY(-5px);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7);
}

.profile-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.grayscale {
    filter: grayscale(100%);
}

.jefeB {
    width: 100vw;
    color: white;
    background-color: #0a0a0a;

    background-image:
        radial-gradient(circle at top left, rgba(255, 255, 255, 0.08), transparent 60%),
        radial-gradient(circle at top right, rgba(255, 255, 255, 0.08), transparent 60%),
        radial-gradient(circle at bottom left, rgba(255, 255, 255, 0.08), transparent 60%),
        radial-gradient(circle at bottom right, rgba(255, 255, 255, 0.08), transparent 60%),
        url("https://www.transparenttextures.com/patterns/asfalt-dark.png");

    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 20px;
}